* {
	box-sizing: border-box;
}

/* Create two equal columns that float next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create a class for the team member styling */
.teamMember {
    background-color: blue;
    color: white;
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px; /* Rounds corners */
}

body {
	background-color: lightgray;
}

#Roster,
#Modular {
	padding: 20px;
}

#Roster {
	background-color: #3466AF;
}

#Modular {
	background-color: #3460AA;
}

.teamMember:last-child {
	margin-bottom: 0px;
}
h2,
h3 {
	margin-top: 0px;
	display: flex;
	justify-content: space-between;
}

p {
	margin: 12px;
}

.top-bar {
    background-color: #FFCB05;
}

.header {
	text-align: center;
}

#Pokedex {
	list-style-type: none;
	padding: 0px;
	border: 1px solid #ddd;
	margin-bottom: 0px;
	border-radius: 4px; /* Rounds corners */
	
}

#Pokedex li {
    display: grid;
    grid-template-columns: 2fr 1fr auto; /* Define three columns */
    gap: 10px; /* Add space between columns */
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #aaa;
}

#Pokedex li:last-child {
    border-bottom: none;
}

.pokemon-name {
    text-align: left; /* Align to the left */
}

.type-name {
    text-align: center; /* Align to the center of its column */
}

#Pokedex li button {
    justify-self: end; /* Align the button to the end of its column */
}

#searchInput {
    display: block; /* Aligns the button under the textarea element */
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-group {
	margin: 0px;
	padding: 0px 0px;
	display: flex;
}

.btn-group button {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 6px;
}

.heading-with-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.heading-with-buttons h2,
.heading-with-buttons h3 {
	margin: 0px;
}

.content-container img {
	overflow: hidden;
}

.multi-column-layout {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.pokemon-column {
    flex: 1; /* Each column takes equal space */
    text-align: center;
    padding: 8px;
    border: 1px solid;
    border-radius: 4px; /* Rounded corners */
    font-size: 14px;
}

.teamMember:has(.heading-with-buttons h3:empty) {
    display: none; /* Hide the entire teamMember */
}

